.table-node {
    width: auto;
    display: flex;
    flex-direction: column;
}

.table-name {
    background-color: #FECDD7;
    border: 1px #e46477 solid;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
    display: inline-block;
}

.attributes-list {
    background-color: #aaf0c9;
    border: 1px #198450 solid;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}