.side-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.design-view {
    height: 100%;
    width: 100%;
}

.table-node {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.table-name {
    background-color: #FECDD7;
    border: 1px #e46477 solid;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
    display: inline-block;
}

.attribute-item {
    background-color: #aaf0c9;
    border: 1px #198450 solid;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

.add-attribute-button {
    background-color: #fbec5d;
    border: 1px #cc7722 solid;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    margin: 5px;
}